<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="14B93E5D-FC30-40FD-8AEA-7E40DB5A9977"
             Name="vdproj2wix Test"
             Language="1033"
             Version="1.0.0"
             Manufacturer="Chris Oldwood"
             UpgradeCode="5C47C5C3-B178-4E11-A9A2-A7E97FB02195">

        <Package Compressed="yes"/>

        <Media Id="1" Cabinet="product.cab" EmbedCab="yes"/>

        <Directory Name="SourceDir" Id="TARGETDIR">
            <Directory Name="ProgramFilesFolder" Id="ProgramFilesFolder">
                <Directory Name="Chris Oldwood" Id="_1">
                    <Directory Name="vdproj2wix Test" Id="_2">
                        <Directory Name="EmptySubFolder" Id="_3">
                            <Directory Name="EmptyNestedFolder" Id="_4">
                            </Directory>
                        </Directory>
                        <Directory Name="FolderWithFiles" Id="_5">
                            <Directory Name="EmptyNestedFolder" Id="_6">
                            </Directory>
                            <Component Id="_1" Guid="9EF0B969-E518-4E46-987F-47570745A589">
                                <File Source="SubFolder\1-Number-Prefix.txt"/>
                                <File Source="SubFolder\File With Diff TargetName.txt" Name="Different Target Name.doc"/>
                                <File Source="SubFolder\File With Spaces.txt"/>
                                <File Source="SubFolder\FileInSubFolder.txt"/>
                            </Component>
                        </Directory>
                        <Component Id="_2" Guid="3C67513D-01DD-4637-8A68-80971EB9504F">
                            <File Source="FileInMainFolder.txt"/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="_1" Level="1">
            <ComponentRef Id="_1"/>
            <ComponentRef Id="_2"/>
        </Feature>

    </Product>
</Wix>
